/**
 * Main CSS
 * Archivo principal que importa todos los módulos CSS
 * Orden de importación: reset -> variables -> layout -> components -> colors -> print
 */

@import url('reset.css');
@import url('variables.css');
@import url('layout.css');
@import url('components.css');
@import url('colors.css');
@import url('print.css');
